.linkhead{
  background-size: cover;
  min-height: 90vh;
  background-image: url("https://artfiles.alphacoders.com/119/119104.jpg");
}

.cardtype{
  min-width: 15em;
  min-height: 30em;
  background-color: rgb(206, 199, 199);
  align-content: center;
  border-radius: 6px;
 margin-top: 5em;
 box-shadow: 5px 5px 10px;
 box-shadow: black;
 background-color: #35648C;
 font-family: 'Oswald', sans-serif;
}

.community{
  position: relative;
  min-height: 38vh;
}

/* .spill{
    position: absolute;
    transform: translateY(50%);
} */


.shadow{
  box-shadow: 10px 10px 15px;
 box-shadow: black;
}

.picshadow{
  border-radius: 8px;
  box-shadow: 0 8px 6px -6px black;
}

.nav-color{
  background-color: #0D0D0D;
}

.lightgreen{
  background-color: #758C23;
}

.darkblue{
  background-color: #224459;
}

.darkgreen{
  background-color: #445916;
}
.light{
  background-color: #D9CBBA;
}

.title {
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
}
.text-outline{
  text-shadow: black 2px 2px;
}